#include <Windows.h>
#include "resource.h"


// About dialog

IDD_ABOUT_DIALOG DIALOG 0, 0, 100, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
  CTEXT "Longplay Video Codec", IDC_STATIC, 5, 5, 90, 10
  CTEXT "Jakub Nowakowski © 2020", IDC_STATIC, 5, 15, 90, 10
  PUSHBUTTON "OK", IDOK, 25, 30, 50, 15
END


// Config dialog

IDD_CONFIG_DIALOG DIALOG 0, 0, 150, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "LPVC Options"
FONT 8, "MS Sans Serif"
BEGIN
  AUTOCHECKBOX "Ignore key frame requests", IDC_LPVC_IGNORE_KEY_FRAME_REQUESTS, 5, 5, 100, 10
  AUTOCHECKBOX "Force key frame every", IDC_LPVC_FORCE_KEY_FRAMES, 5, 20, 85, 10
  EDITTEXT IDC_LPVC_FORCE_KEY_FRAMES_INTERVAL, 93, 18, 25, 13
  LTEXT "frames", IDC_STATIC, 123, 20, 30, 10
  AUTOCHECKBOX "Use palette", IDC_LPVC_USE_PALETTE, 5, 35, 100, 10
  EDITTEXT IDC_LPVC_ZSTD_WORKER_COUNT, 5, 48, 20, 13
  LTEXT "Zstandard workers", IDC_STATIC, 30, 50, 100, 10
  LTEXT "Zstandard compression level: ", IDC_LPVC_ZSTD_COMPRESSION_LEVEL_TEXT, 5, 65, 130, 10
  CONTROL "", IDC_LPVC_ZSTD_COMPRESSION_LEVEL_SLIDER, "msctls_trackbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 75, 140, 20
  PUSHBUTTON "OK", IDOK, 20, 100, 50, 15
  PUSHBUTTON "Cancel", IDCANCEL, 80, 100, 50, 15
END
